.message {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    margin-right: 12px;
    background-color: #06C;
    filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.10)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
    border-radius: 10px 10px 0 10px;
    padding: 7px 13px;
}

.text:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 0 12px;
    border-color: transparent transparent transparent #06C;
}

.name {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
    text-align: right;
}

.messageText {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.time {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    width: 48px;
    text-align: center;
    padding-top: 5px;
}