.loader {
    width: 90px;
    height: 90px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader img {
    max-width: 100%;
    width: 100%;
    animation: rotate 1.5s linear infinite;
}