.input:focus {
}

.input {
    box-sizing: border-box;
    padding: 2px 15px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    width: 372px;
    height: 36px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
    color: red;
}
