.App {
    --header_height: 60px;
}

.hw {

}

.hwTitle {
    padding-top: 130px;
    padding-left: 70px;
    padding-bottom: 10px;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #D9D9D9;
}

.hwWrap {
    display: flex;
    flex-direction: column;
}