.friendMessage {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 70px;
    align-items: flex-start;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    position: relative;
    margin-left: 12px;
    background-color: #F5F7FB;
    filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.10)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
    border-radius: 10px 10px 10px 0;
    padding: 7px 13px;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12px 12px;
    border-color: transparent transparent #F5F7FB transparent;
}

.friendName {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.friendMessageText {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.friendTime {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    width: 48px;
    text-align: center;
    padding-top: 5px;
}
